#search_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

#search_left {

    margin: 0 30px;
  }
#search_right {
    width: 1000px;
    padding: 0;

  }


#detailed_search>div>div {
  float: left;
  /* border: 1px dotted red; */
}
#detailed_search {
  display: flex;
  justify-content: space-between;
  /* border: 1px dotted red; */
}

#search_check {
  line-height: 1.5em;
  padding-left: 20px;
  margin: 0 30px;
}
#search_check>div {
  width: 150px;
  padding: 20px;
}
#search_check>div:nth-child(3) {
  width: 150px;
  padding: 20px;
}
#search_check>div>h4 {
  margin: 0 auto;
}
#search_check>div>hr {
  margin-bottom: 5px;
  padding: 0.5px;
  background-color: rgb(34,34,34);
}
input[name="category_chk"],
input[name="shape_chk"],
input[name="category_all"],
input[name="shape_all"],
input[name="type_chk"],
input[name="type_all"] {
  display: none;
}
input[name="type_chk"]+label,
input[name="type_all"]+label {
  height: 100px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  background-color: rgb(246,246,246);
  border: 1px solid rgb(34,34,34);
  color: rgb(34,34,34);
}
input[name="type_chk"]:checked+label,
input[name="type_all"]:checked+label {
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  background-color: rgb(34,34,34);
  border: 1px solid rgb(34,34,34);
  color: rgb(246,246,246);
}
input[name="category_chk"]+label,
input[name="shape_chk"]+label {
  /* padding: 3px; */
  border: 2px solid rgb(210, 124, 125);
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}
input[name="category_all"]+label,
input[name="shape_all"]+label {
  /* padding: 3px; */
  border: 2px solid rgb(34,34,34);
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}
input[name="category_all"]:checked+label,
input[name="shape_all"]:checked+label {
  /* padding: 3px; */
  border: 2px solid rgb(34,34,34);
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  color: rgb(246,246,246);
  background-color: rgb(34,34,34);
}
input[name="category_chk"]:checked+label,
input[name="shape_chk"]:checked+label,
input[name="category_all"]:checked+label,
input[name="shape_all"]:checked+label {
  background-image: url('../img/checked.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: bold;
}
#search_wrap input[type="submit"] {
  width: 160px;
  height: 50px;
  font-size: 20px;
  /* padding: 0 0 0 15px; */
  /* font-family: HY견고딕; */
  border: 3px solid rgb(210,124,125);
  background-color: rgb(210,124,125);
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  color: rgb(246,246,246);
  font-weight: bold;
  font-family: '경기천년제목 Light' ;
}
#search_wrap input[type="submit"]:hover {
  border: 3px solid rgb(34,34,34);
  background-color: rgb(34,34,34);
  color: rgb(246,246,246);
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
/****************multi slider***************/
#search_right>form>div {
  width: 700px;
}
#search_check {
  width: 300px;
}
.middle {
  /*width: 500px;*/
  width: 100%;
  margin: 0 auto;
  /*padding: 30px;*/
  padding: 0px;
  height: 100px;
  /* background-color: #e5e5e5; */
  /* border: 1px solid cyan; */

}
.multi-range-slider {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;

  /*width: 500px;*/
  width: 100%;
  margin: 0 auto;

  /* border: 1px solid blue; */
}

.middle>span {
  line-height: 50px;  
  font-weight:bold;  
}
.slider {
  position: relative;
  /*width:500px;*/
  width: 100%;


  margin:0 auto;
  z-index: 1;
  height: 6px;
  /* margin: 0 10px; */
  /* border: 1px dotted cyan; */
}
.slider>span {
  
  /* border: 1px dotted red; */
  margin-top: 16px;
  font-size: 10px;
  
}
.slider>.track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 98%;
  margin:0 auto;
  height: 10px;
  /*border-radius: 5px;*/
  background-color: rgb(246,246,246);
}
.slider>.range {
  position: absolute;
  z-index: 2;
  /* left: 25%;
  right: 25%; */
  top: 0;
  bottom: 0;
  height: 10px;
  /*border-radius: 5px;*/
  background-color: rgb(0,0,0);
}

.slider>.thumb {

  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 50%;
  /*box-shadow: 0 0 0 0 rgba(210,124,125, .2);*/
  box-shadow: 0 0 0 0 rgba(125,125,125, .2);
  transition: box-shadow .3s ease-in-out;
}
.slider>.thumb.left {
  left: 25%;
  transform: translate(-5px, 0px);
}
.slider>.thumb.right {
  right: 25%;
  transform: translate(5px, 0px);
}
.slider>.thumb.hover {
  box-shadow: 0 0 0 20px rgba(0,0,0, .2);
}
.slider>.thumb.active {
  box-shadow: 0 0 0 20px rgba(0,0,0, .2);
}


input[type="range"] {
  cursor: pointer;
  pointer-events: none;
  -webkit-appearance: none;
  height: 6px;
  width: 360px;
  margin: 0 auto;
  padding: 0;

  opacity: .0;
  transform: translate(0px, 0px);
}
.multi-range-slider>input:nth-child(2) {
  z-index: 7;
  position: absolute;
}
.multi-range-slider>input:first-child {
  z-index: 10;
  position: absolute;
}


input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
.middle>hr {
  padding:0; 
  border:0; 
  height: 1px; 
  background:rgb(200,200,200);
}




.cate_none {
	display: none;
}
