<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/css/search.css" rel="stylesheet">
    <title>내 맘대로 영화 순위</title>
    <style>
        #container {
            /*width: 1280px;*/
            /*height: 100%;*/
            widdth: 100%;
            height: 1000px;
            background-image: url('/img/background_img.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            padding: 20px;
            flex-wrap: wrap;
            overflow: scroll;
        }
        .navbar-vertical-content {
            float: left;
            width: 400px;
            height: 100%;
            border-radius: 20px;
            padding: 20px;
        }
        .dropdown-menu>li {
            display:inline;
        }

        .btn-group {
            position: relative;
        }

        input#directorNm, input#actorNm, input#genre, input#nation, input#title {
            border: none;
            height: 1.5em;
            width: 290px;
        }

        #directorSearchList, #actorSearchList, #genreSearchList, #nationSearchList{
            position: absolute; /* 절대 위치 지정 */
            top: 100%; /* 부모 요소의 아래에 배치 */
            left: 0; /* 왼쪽 정렬 */
            width: 100%; /* 너비 100% */
            z-index: 10; /* 다른 요소들 위에 표시 */
            background-color: white;
            color: black;
        }
    </style>
</head>
<body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>

<div class="navbar-collapse" id="container">
    <div class="navbar-vertical-content scrollbar bg-dark text-white" style="--bs-bg-opacity: .7;">
        <form>
            <p style="margin:0; font-weight: bold;">감독&nbsp;</p>
            <div id="directorNmList"></div>
            <div class="btn-group">
                <input type="text" id="directorNm" name="directorNm">&nbsp;
                <img src="/img/expander_white.png" style="height:1.5em; width:1.5em;">
                <div id="directorSearchList">
                </div>
            </div>
            <hr>

            <p style="margin:0; font-weight: bold;">배우&nbsp;</p>
            <div id="actorNmList"></div>
            <div class="btn-group">
                <input type="text" id="actorNm" name="actorNm">&nbsp;
                <img src="/img/expander_white.png" style="height:1.5em; width:1.5em;">
                <div id="actorSearchList">
                </div>
            </div>
            <hr>

            <p style="margin:0; font-weight: bold;">장르&nbsp;</p>
            <div id="genreList"></div>
            <div class="btn-group">
                <input type="text" id="genre" name="genre">&nbsp;
                <img src="/img/expander_white.png" style="height:1.5em; width:1.5em;">
                <div id="genreSearchList">
                </div>
            </div>
            <hr>
            <p style="margin:0; font-weight: bold;">국가&nbsp;</p>
            <div id="nationList"></div>
            <div class="btn-group">
                <input type="text" id="nation" name="nation">&nbsp;
                <img src="/img/expander_white.png" style="height:1.5em; width:1.5em;">
                <div id="nationSearchList">
                </div>
            </div>
            <hr>
            <div class="middle">
                <span>제작 연도</span>
                <div class="multi-range-slider">
                    <input type="range" id="year-input-left" min="1885" step="1" max="2024" value="1800" name="year_L"
                           oninput="document.getElementById('year_left').innerHTML=(Math.min((this.value), document.getElementById('year-input-right').value-1));">
                    <input type="range" id="year-input-right" min="1885" step="1" max="2024" value="2024" name="year_R"
                           oninput="document.getElementById('year_right').innerHTML=(Math.max((this.value), document.getElementById('year-input-left').value-(-1)));">

                    <div class="slider year">
                        <div class="track">&nbsp;</div>
                        <div class="range year"></div>
                        <div class="thumb left year"></div>
                        <div class="thumb right year"></div>
<!--                        <span-->
<!--                                style="float: left; color: rgb(200,200,200); transform: translateX(-21px)">1885</span>-->
<!--                        <span-->
<!--                                style="float: right; color: rgb(200,200,200); transform: translateX(22px)">2024</span>-->
                        <span id="year_left"
                              style="position: absolute; transform: translateX(-22px)">1885</span>
                        <span id="year_right"
                              style="position: absolute; transform: translateX(26px)">2024</span>
                    </div>
                </div>
            </div>
            <div class="middle">
                <span>평균 별점</span>
                <div class="multi-range-slider">
                    <input type="range" id="rate-input-left" min="0" step="0.1" max="5" value="0" name="rate_L"
                           oninput="document.getElementById('rate_left').innerHTML=(Math.min((this.value), document.getElementById('rate-input-right').value-0.1));">
                    <input type="range" id="rate-input-right" min="0" step="0.1" max="5" value="5" name="rate_R"
                           oninput="document.getElementById('rate_right').innerHTML=(Math.max((this.value), document.getElementById('rate-input-left').value-(-0.1)));">

                    <div class="slider rate">
                        <div class="track">&nbsp;</div>
                        <div class="range rate"></div>
                        <div class="thumb left rate"></div>
                        <div class="thumb right rate"></div>
<!--                        <span-->
<!--                                style="float: left; color: rgb(200,200,200); transform: translateX(-20px)">0</span>-->
<!--                        <span-->
<!--                                style="float: right; color: rgb(200,200,200); transform: translateX(21px)">5</span>-->
                        <span id="rate_left"
                              style="position: absolute; transform: translateX(-15px)">0</span>
                        <span id="rate_right"
                              style="position: absolute; transform: translateX(15px)">5</span>
                    </div>
                </div>
            </div>
            <div class="middle">
                <span>평가 갯수</span>
                <div class="multi-range-slider">
                    <input type="range" id="rate_number-input-left" min="0" step="1000" max="2124000" value="0" name="rate_number_L"
                           oninput="document.getElementById('rate_number_left').innerHTML=(Math.min((this.value), document.getElementById('rate_number-input-right').value-1));">
                    <input type="range" id="rate_number-input-right" min="0" step="1000" max="2124000" value="2124000" name="rate_number_R"
                           oninput="document.getElementById('rate_number_right').innerHTML=(Math.max((this.value), document.getElementById('rate_number-input-left').value-(-1)));">

                    <div class="slider rate_number">
                        <div class="track">&nbsp;</div>
                        <div class="range rate_number"></div>
                        <div class="thumb left rate_number"></div>
                        <div class="thumb right rate_number"></div>
<!--                        <span-->
<!--                                style="float: left; color: rgb(200,200,200); transform: translateX(-21px)">0</span>-->
<!--                        <span-->
<!--                                style="float: right; color: rgb(200,200,200); transform: translateX(22px)">2124000</span>-->
                        <span id="rate_number_left"
                              style="position: absolute; transform: translateX(-22px)">0</span>
                        <span id="rate_number_right"
                              style="position: absolute; transform: translateX(26px)">2124000</span>
                    </div>
                </div>
            </div>
            <input class="btn btn-dark" type="submit" value="순  위  검  색">
        </form>
    </div>
    <div class="navbar-vertical-content bg-white " id="searchResult" style="--bs-bg-opacity: .5;margin-left: 10px; width:1300px; overflow: scroll">
        <h1>내 맘대로 영화 순위!!</h1>
    </div>
</div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){

        document.getElementById('directorNm').addEventListener('input', function() {
            if(!$(this).val().trim().length == 0) {
                $.ajax({
                    url:"/director/autocomplete",
                    type:"get",
                    data:{"directorNm": $("#directorNm").val()},
                    dataType:"json",
                    success: function(json){
                        if(json.length > 0){
                            var html = "";
                            $.each(json, function(index, item){
                                var searchedNm = item.searchedNm;
                                html += "<span class='result' style='cursor:pointer;'>" + searchedNm + "</span><br>";
                            });
                            $("#directorSearchList").html(html);
                        }
                    },
                    error: function(request, status, error){
                        alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                    }
                });
            } else {
                $('#directorSearchList').html('');
            }
        });

        $('#directorSearchList').on('click', 'span.result', function() {
            $('#directorNmList').append('<div style="cursor:pointer;border-radius: 10%;border: 1px solid lightgrey;display:inline-flex;padding:3px;margin:3px;">' + $(this).html() + '</div>');
            $('#directorNm').val('');
            $('#directorSearchList').html('');
            $('#directorNmList').on('click', 'div',function() {
                $(this).remove();
            });
        });




        document.getElementById('actorNm').addEventListener('input', function() {
            if(!$(this).val().trim().length == 0) {
                $.ajax({
                    url:"/actor/autocomplete",
                    type:"get",
                    data:{"actorNm": $("#actorNm").val()},
                    dataType:"json",
                    success: function(json){
                        if(json.length > 0){
                            var html = "";
                            $.each(json, function(index, item){
                                var searchedNm = item.searchedNm;
                                html += "<span class='result' style='cursor:pointer;'>" + searchedNm + "</span><br>";
                            });
                            $("#actorSearchList").html(html);
                        }
                    },
                    error: function(request, status, error){
                        alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                    }
                });
            } else {
                $('#actorSearchList').html('');
            }
        });

        $('#actorSearchList').on('click', 'span.result', function() {
            $('#actorNmList').append('<div style="cursor:pointer;border-radius: 10%;border: 1px solid lightgrey;display:inline-flex;padding:3px;margin:3px;">' + $(this).html() + '</div>');
            $('#actorNm').val('');
            $('#actorSearchList').html('');
            $('#actorNmList').on('click', 'div',function() {
                $(this).remove();
            });
        });








        document.getElementById('genre').addEventListener('input', function() {
            if(!$(this).val().trim().length == 0) {
                $.ajax({
                    url:"/genre/autocomplete",
                    type:"get",
                    data:{"genre": $("#genre").val()},
                    dataType:"json",
                    success: function(json){
                        if(json.length > 0){
                            var html = "";
                            $.each(json, function(index, item){
                                var searchedGenre = item.searchedGenre;
                                html += "<span class='result' style='cursor:pointer;'>" + searchedGenre + "</span><br>";
                            });
                            $("#genreSearchList").html(html);
                        }
                    },
                    error: function(request, status, error){
                        alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                    }
                });
            } else {
                $('#genreSearchList').html('');
            }
        });

        $('#genreSearchList').on('click', 'span.result', function() {
            $('#genreList').append('<div style="cursor:pointer;border-radius: 10%;border: 1px solid lightgrey;display:inline-flex;padding:3px;margin:3px;">' + $(this).html() + '</div>');
            $('#genre').val('');
            $('#genreSearchList').html('');
            $('#genreList').on('click', 'div',function() {
                $(this).remove();
            });
        });

        document.getElementById('nation').addEventListener('input', function() {
            if(!$(this).val().trim().length == 0) {
                $.ajax({
                    url:"/nation/autocomplete",
                    type:"get",
                    data:{"nation": $("#nation").val()},
                    dataType:"json",
                    success: function(json){
                        if(json.length > 0){
                            var html = "";
                            $.each(json, function(index, item){
                                var searchedNation = item.searchedNation;
                                html += "<span class='result' style='cursor:pointer;'>" + searchedNation + "</span><br>";
                            });
                            $("#nationSearchList").html(html);
                        }
                    },
                    error: function(request, status, error){
                        alert("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                    }
                });
            } else {
                $('#nationSearchList').html('');
            }
        });

        $('#nationSearchList').on('click', 'span.result', function() {
            $('#nationList').append('<div style="cursor:pointer;border-radius: 10%;border: 1px solid lightgrey;display:inline-flex;padding:3px;margin:3px;">' + $(this).html() + '</div>');
            $('#nation').val('');
            $('#nationSearchList').html('');
            $('#nationList').on('click', 'div',function() {
                $(this).remove();
            });
        });




        var selectedActorList;
        var selectedDirectorList;
        var selectedGenreList;
        var selectedNationList;
        var selectedDocIdListByDirector;
        var selectedDocIdList;

        var yearInputLeft;
        var yearInputRight;
        var rateInputLeft;
        var rateInputRight;
        var rateNumberInputLeft;
        var rateNumberInputRight;

        var searchedMovieList;
        var str;
        var searchResult;

        $('form').submit(function(event) {
            event.preventDefault(); // 기본 제출 동작 방지

            selectedActorList = [];
            selectedDirectorList = [];
            selectedGenreList = [];
            selectedNationList = [];

            selectedDocIdListByDirector = [];
            selectedDocIdList = [];



            $('#actorNmList > div').each(function() {
                selectedActorList.push($(this).html());
            });
            $('#directorNmList > div').each(function() {
                selectedDirectorList.push($(this).html());
            });
            $('#genreList > div').each(function() {
                selectedGenreList.push($(this).html());
            });
            $('#nationList > div').each(function() {
                selectedNationList.push($(this).html());
            });



            if(selectedDirectorList.length === 0) {
                if(selectedActorList.length === 0) {

                } else {
                    $.ajax({
                        url: "/kmdb/searchRough",
                        type: "get",
                        async: false,
                        data: {
                            actor: selectedActorList.toString()
                        },
                        dataType: "json",
                        contentType : 'application/json; charset=utf-8',
                        success: function(json) {
                            $.each(json, function(index, item){
                                if(selectedDocIdList.indexOf(item.docId) === -1) {
                                    selectedDocIdList.push(item.docId);
                                }
                            });
                        },
                        error: function(request, status, error){
                            console.log("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                        }
                    });
                }
            } else {
                if(selectedActorList.length === 0) {
                    for(var i=0; i<selectedDirectorList.length; i++) {
                        $.ajax({
                            url: "/kmdb/searchRough",
                            type: "get",
                            async: false,
                            data: {
                                director: selectedDirectorList[i]
                            },
                            dataType: "json",
                            contentType : 'application/json; charset=utf-8',
                            success: function(json) {
                                $.each(json, function(index, item){
                                    if(selectedDocIdList.indexOf(item.docId) === -1) {
                                        selectedDocIdList.push(item.docId);
                                    }
                                });
                            },
                            error: function(request, status, error){
                                console.log("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                            }
                        });
                    }
                } else {
                    for(var i=0; i<selectedDirectorList.length; i++) {
                        $.ajax({
                            url: "/kmdb/searchRough",
                            type: "get",
                            async: false,
                            data: {
                                director: selectedDirectorList[i]
                            },
                            dataType: "json",
                            contentType : 'application/json; charset=utf-8',
                            success: function(json) {
                                $.each(json, function(index, item){
                                    if(selectedDocIdListByDirector.indexOf(item.docId) === -1) {
                                        selectedDocIdListByDirector.push(item.docId);
                                    }
                                });
                            },
                            error: function(request, status, error){
                                console.log("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                            }
                        });
                        $.ajax({
                            url: "/kmdb/searchRough",
                            type: "get",
                            async: false,
                            data: {
                                actor: selectedActorList.toString()
                            },
                            dataType: "json",
                            contentType : 'application/json; charset=utf-8',
                            success: function(json) {
                                $.each(json, function(index, item){
                                    if(selectedDocIdListByDirector.indexOf(item.docId) !== -1) {
                                        selectedDocIdList.push(item.docId);
                                    }
                                });
                            },
                            error: function(request, status, error){
                                console.log("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                            }
                        });
                    }
                }
            }




            yearInputLeft = $('#year-input-left').val();
            yearInputRight = $('#year-input-right').val();
            rateInputLeft = $('#rate-input-left').val();
            rateInputRight = $('#rate-input-right').val();
            rateNumberInputLeft = $('#rate_number-input-left').val();
            rateNumberInputRight = $('#rate_number-input-right').val();

            searchedMovieList = [];

            $.ajax({
                url: "/search",
                type: "get",
                async: false,
                data: {
                    yearInputLeft: yearInputLeft,
                    yearInputRight: yearInputRight,
                    rateInputLeft: rateInputLeft,
                    rateInputRight: rateInputRight,
                    rateNumberInputLeft: rateNumberInputLeft,
                    rateNumberInputRight: rateNumberInputRight
                    , selectedDocIdList: selectedDocIdList
                },
                dataType: "json",
                contentType : 'application/json; charset=utf-8',
                success: function(json) {
                    $.each(json, function(index, item){
                        if(selectedNationList.length==0) {
                            if(selectedGenreList.length==0) {
                                console.log(1);
                                console.log(item.title + '/' + item.nation + '/' + item.genre + '/' + item.rate);
                                if(searchedMovieList.indexOf(item) === -1) {
                                    searchedMovieList.push(item);
                                }
                            }
                            else {
                                for(var j=0; j<selectedGenreList.length; j++) {
                                    if(item.genre.indexOf(selectedGenreList[j]) != -1) {
                                        console.log(2);
                                        console.log(item.title + '/' + item.nation + '/' + item.genre + '/' + item.rate);
                                        if(searchedMovieList.indexOf(item) === -1) {
                                            searchedMovieList.push(item);
                                        }
                                    }
                                }
                            }
                        } else {
                            if(selectedGenreList.length==0) {
                                for(var i=0; i<selectedNationList.length; i++) {
                                    if(item.nation == selectedNationList[i]) {
                                        console.log(3);
                                        console.log(item.title + '/' + item.nation + '/' + item.genre + '/' + item.rate);
                                        if(searchedMovieList.indexOf(item) === -1) {
                                            searchedMovieList.push(item);
                                        }
                                    }
                                }
                            }
                            else {
                                for(var i=0; i<selectedNationList.length; i++) {
                                    for(var j=0; j<selectedGenreList.length; j++) {
                                        if(item.genre.indexOf(selectedGenreList[j]) != -1 && item.nation == selectedNationList[i]) {
                                            console.log(4);
                                            console.log(item.title + '/' + item.nation + '/' + item.genre + '/' + item.rate);
                                            if(searchedMovieList.indexOf(item) === -1) {
                                                searchedMovieList.push(item);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    });
                },
                error: function(request, status, error){
                    console.log("code: "+request.status+"\n"+"message: "+request.responseText+"\n"+"error: "+error);
                }

            });

            searchResult = $('#searchResult');
            searchResult.html('<h1>내 맘대로 영화 순위!!</h1>');

            for(var i=0; i<searchedMovieList.length; i++) {
                str =
                    '<div class="result-item" style="width:250px; float:left;margine:20px;">' +
                        '<div style="width:213px; height: 296px; background-image: url(' + searchedMovieList[i].poster + '); background-color: lightgrey"></div>' +
                        // '<img src="' + searchedMovieList[i].poster + '">' +
                        '<p style="margine:0px; padding: 0px;">' + searchedMovieList[i].title + ' (' + searchedMovieList[i].prodYear + ')</p>' +
                        '<p style="margine:0px; padding: 0px;">★' + searchedMovieList[i].rate + ' (' + searchedMovieList[i].rateNumber +')</p>' +
                        '<p style="margine:0px; padding: 0px;">' + searchedMovieList[i].genre + '</p>' +
                    '</div>';
                searchResult.append(str);
            }



        });
  });
  </script>
  <script src="/js/search.js?sdf"></script>
</body>

</html>